{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template core_course/activitychooserbutton

Displays a add activity or resource button.

Context variables required for this template:
* sectionid - Relative section number (field course_sections.section).
* sectionreturn - The section to link back to.

Example context (json):
{
"sectionid": 1,
"sectionreturn": 0
}
}}
<div class="d-flex justify-content-center">
    <button class="btn btn-link text-decoration-none section-modchooser section-modchooser-link px-7" style="background: #E4F5FF;
border-radius: 4px; padding:10px 30%" data-action="open-chooser" data-sectionid="{{sectionid}}"
        data-sectionreturnid="{{sectionreturn}}">

        <span class="activity-add-text add-activity">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8 4C8.25861 4 8.46825 4.20964 8.46825 4.46825L8.46825 11.5318C8.46825 11.7904 8.25861 12 8 12C7.74139 12 7.53175 11.7904 7.53175 11.5318V4.46825C7.53175 4.20964 7.74139 4 8 4Z"
                    fill="#0095F6" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12 8C12 8.25861 11.7904 8.46825 11.5318 8.46825H4.46825C4.20964 8.46825 4 8.25861 4 8C4 7.74139 4.20964 7.53175 4.46825 7.53175H11.5318C11.7904 7.53175 12 7.74139 12 8Z"
                    fill="#0095F6" />
            </svg>
            {{#str}}addresourceoractivity, core{{/str}}
        </span>
    </button>
</div>