{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template block_myoverview/main

This template renders the main content area for the myoverview block.

Example context (json):
{}
}}

<div id="block-myoverview-{{uniqid}}" class="block-myoverview block-cards" data-region="myoverview" role="navigation">
    <div class="d-inline-flex justify-content-between flex-wrap w-100 align-items-center">
        <div class="course mb-1 mr-auto d-flex mt-auto">
            <a class="title mr-2 pt-2 px-3 active" href="{{config.wwwroot}}/my/courses.php">
                {{#str}}courses, moodle{{/str}}
            </a>
            <a href="{{config.wwwroot}}/course/index.php" class="title pt-2 px-2 before">
                {{#str}}categories, moodle{{/str}}
            </a>
        </div>
        <div style="padding-bottom: 10px;">
            {{#status}}
            <a href="{{config.wwwroot}}/course/edit.php?returnto=catmanage" class="create-course btn btn-primary">
                {{#str}} createnewcourse, moodle{{/str}}
            </a>
            {{/status}}
        </div>
    </div>
    <hr>
    <div data-region="filter" class="d-flex align-items-center"
        aria-label="{{#str}} aria:controls, block_myoverview {{/str}}" style="margin-top:24px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filter"
            viewBox="0 0 16 16">
            <path
                d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
        </svg>
        <select name="selectedOption" id="selectedOption"
            style="border:none; outline:none; height:24px; margin-left:8px; font-size:14px; appearance:none; font-weight: 400;line-height:24px;">
            <option value="" name="fillter_option" id="fillter">Bộ lọc</option>
            {{!-- <option value="keyword" name="fillter_option" id="fillter">Từ Khóa</option> --}}
            <option value="course_name" name="fillter_option" id="fillter">Tên Khóa Học</option>
            <option value="course_categories" name="fillter_option">Tên Danh Mục</option>
            <option value="course_teacher" name="fillter_option">Giáo Viên</option>
        </select>
        <input placeholder="Nhập từ khóa cần tìm kiếm" type="text" id="filter-keyword"
            style="display:none; margin-left:8px; outline:none; padding:5px 5px;">
        <div class="w-100" style="display:none;" id="search_all">
            {{> block_myoverview/nav-search-widget }}
        </div>
    </div>
    <div class="container-fluid p-0">
        {{> block_myoverview/courses-view }}
    </div>
</div>
{{#js}}
require(
[
'jquery',
'block_myoverview/main',
],
function(
$,
Main
) {
var root = $('#block-myoverview-{{uniqid}}');
Main.init(root);
});
{{/js}}
<style>

</style>
<script>
    document.getElementById("selectedOption").addEventListener("change", function () {
        var selectedOption = this.value,
            input = document.getElementById("filter-keyword");
        //document.getElementById('search_all').style.display = selectedOption === "keyword" ? "block" : "none";
        document.getElementById('filter-keyword').style.display = ["course_name", "course_categories", "course_teacher"].includes(selectedOption) ? "block" : "none";

        if (selectedOption !== "keyword") {
            input.value = "";
        }
        input.addEventListener('keyup', function () {
            var filter = input.value.toUpperCase(),
                table = document.querySelector(".list-group"),
                tr = table.getElementsByTagName("tr"),
                td, txtValue;
            for (var i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("th")[selectedOption === "course_name" ? 0 : (selectedOption === "course_categories" ? 1 : 2)];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    tr[i].style.display = txtValue.toUpperCase().indexOf(filter) > -1 ? "" : "none";
                }
            }
        });
    });
</script>