/**
 * Container.
 */
.path-grade-report-grader .gradeparent {
    position: relative;
}

/**
 * Tooltip and overlay.
 */
.path-grade-report-grader .gradeparent .grader-information-tooltip {
    min-width: 200px;
}

.path-grade-report-grader .gradeparent .graderreportoverlay {
    background-color: white;
    width: auto;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/**
 * The table.
 */
#page-grade-report-grader-index .gradeparent .username .username-email p:nth-last-child(1) {
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
}
#page-grade-report-grader-index .gradeparent .grade_type_value {
    text-align: center;
}
#page-grade-report-grader-index .gradereport-grader-table .user.cell {
    position: static;
}

#page-grade-report-grader-index .highlightable .rui-icon-container,
#page-grade-report-grader-index .grade_type_value .rui-icon-container,
#page-grade-report-grader-index .highlightable .gradeitemheader img,
#page-grade-report-user-index .generaltable .rui-icon-container,
#page-grade-report-user-index #contributiontocoursetotal,
#page-grade-report-user-index .column-contributiontocoursetotal,
#page-grade-report-singleview-index .page-context-header .header-button-group {
    display: none;
}

#page-grade-report-singleview-index .generaltable .dropdown-item,
#page-grade-report-singleview-index .generaltable thead .c2,
#page-grade-report-singleview-index .generaltable tbody .category {
    display: none;
}

#page-grade-report-singleview-index .reporttable .singleview_bulk{
    display: none;
}

/*Phân trang phần chỉnh sửa điểm số*/
#page-grade-report-singleview-index .main-content .nextitem,
#page-grade-report-singleview-index .main-content .previtem,
#page-grade-report-singleview-index .reporttable .selectitems {
    display: none;
}

#page-grade-report-grader-index .userreport .dropdown-item-text {
    opacity: 0;
}

#page-grade-report-grader-index .username img,
#page-grade-report-grader-index .username .userinitials {
    max-width: 32px;
    max-height: 32px;
}

#page-grade-report-user-index .column-itemname {
    width: 25%;
}

#page-grade-report-user-index .column-weight,
#page-grade-report-user-index .column-grade,
#page-grade-report-user-index .column-range,
#page-grade-report-user-index .column-percentage {
    width: 14%;
}

#page-grade-report-grader-index .grade_type_value a {
    position: absolute;
    left: 65px;
    top: 15px;
    opacity: 0;
}

#page-grade-report-user-index .page-context-header .header-button-group,
#page-grade-report-user-index #graded_users_selector,
#page-grade-report-user-index .view_users_selector {
    display: none;
}

#page-grade-report-user-index .generaltable .column-leader {
    min-width: 0;
    width: 0;
}

#page-grade-report-grader-index .grade_type_value {
    position: relative;
}

.path-grade-report-grader .gradeparent table {
    /* border: 1px solid #ccc; */
    border-collapse: separate;
    border-spacing: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    margin-bottom: 2em;
}

/**
 * All the cells.
 */
.path-grade-report-grader .gradeparent .cell {
    border-bottom: 1px solid #ccc;
    border-top-width: 0;
    border-left-width: 0;
    padding: 4px 5px;
    vertical-align: middle;
    text-align: right;
    white-space: nowrap;
}

.path-grade-report-grader #region-main {
    overflow-x: visible;
    min-width: 100%;
    display: block !important;
    width: auto;
}

.path-grade-report-grader .gradeparent {
    max-width: 1260px;
    width: auto !important;
    overflow-x: auto;
}

#page-grade-report-grader-index .gradeparent tr:first-of-type {
    display: none;
}

#page-grade-report-grader-index .gradereport-grader-table th {
    padding: 9px 0 !important;
}

#page-grade-report-grader-index .gradeparent::-webkit-scrollbar {
    width: auto;
    height: 10px;
}
#page-grade-report-grader-index .gradeparent::-webkit-scrollbar-thumb {
    background: #555555;
}
#page-grade-report-grader-index .gradeparent::-webkit-scrollbar-button:start:increment {
    width: 25%;
    display: block;
    background: transparent;
}
#page-grade-report-grader-index .gradeparent::-webkit-scrollbar-button:end:increment {
    width: 25%;
    display: block;
    background: transparent;
}

#page-grade-report-grader-index .gradeparent::-webkit-scrollbar-track-piece {
    background: #d6d6d6;
}

#page-grade-report-grader-index .gradeparent .highlightable .gradeitemheader {
    display: inline-block;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
}

/* #page-grade-report-grader-index .c1 {
    display: none;
} */

/**
 * All the floating divs.
 */
.path-grade-report-grader .gradeparent .floater {
    display: none;
}

.path-grade-report-grader .gradeparent .floating {
    display: block;
}

/**
 * All the headers + floating cells.
 */
.path-grade-report-grader .gradeparent .heading .cell,
.path-grade-report-grader .gradeparent .avg .cell,
.path-grade-report-grader .gradeparent .user.cell {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
}

/**
 * The user cells.
 */
.path-grade-report-grader .gradeparent .user.cell {
    min-width: 200px;
    width: 200px;
    white-space: normal;
    vertical-align: top;
}

.path-grade-report-grader .gradeparent .user.cell .userpicture {
    border: none;
    vertical-align: middle;
}

.path-grade-report-grader .gradeitemheader {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    vertical-align: bottom;
}

/**
 * The additional user fields.
 */
.path-grade-report-grader .gradeparent .userfield {
    font-weight: normal;
    text-align: left;
}

/**
 * The footer's header.
 */
.path-grade-report-grader .gradeparent .range .header,
.path-grade-report-grader .gradeparent .avg .header {
    font-weight: bold;
}

/**
 * The footer's floating cells.
 */
.path-grade-report-grader .gradeparent .avg.floating .cell {
    border-top-width: 1px;
}

/**
 * The footer's cells.
 */
.path-grade-report-grader .gradeparent .avg .cell {
    text-align: right;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}
/**
 * Content styling.
 */
.path-grade-report-grader .gradeparent .heading .cell .iconsmall {
    /* Fixes inconsistencies in cell height on IE. */
    padding-top: 0;
    padding-bottom: 0;
}

.path-grade-report-grader .gradeparent .sorticon {
    margin-left: 3px;
}

.path-grade-report-grader .gradeparent .gradevalue {
    display: inline-block;
}

.path-grade-report-grader .gradeparent tr:nth-child(n) td.overridden:nth-child(n) {
    /* Made very specific to override the default stripped style of the table. */
    background-color: #efd9a4;
}

.path-grade-report-grader .gradeparent tr:nth-child(n) td.ajaxoverridden:nth-child(n) {
    /* Made very specific to override the default stripped style of the table. */
    background-color: #ffe3a0;
}

.path-grade-report-grader .gradeparent .excludedfloater {
    font-weight: bold;
    color: red;
    font-size: 9px;
    float: left;
}

.path-grade-report-grader .gradeparent .category {
    text-align: left;
}

/**
 * Editing fields.
 */
.path-grade-report-grader .gradeparent select {
    text-overflow: ellipsis;
    min-width: 8rem;
    width: 100%;
}

.path-grade-report-grader .gradeparent .text {
    border: 1px solid #666;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: center;
}

.path-grade-report-grader .gradeparent .quickfeedback {
    border: 1px dashed #000;
    width: auto;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.path-grade-report-grader .yui3-overlay {
    border: 0;
    background: none;
    background-color: inherit;
    min-width: 200px;
}

.path-grade-report-grader .yui3-overlay {
    background-color: white;
    width: auto;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
