{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template theme_alpha/columns2

Admin time setting template.

alpha 2 column layout template.

Context variables required for this template:
* sitename - The name of the site
* output - The core renderer for the page
* bodyattributes - attributes for the body tag as a string of html attributes
* sidepreblocks - HTML for the blocks
* hasblocks - true if there are blocks on this page
* navdraweropen - true if the nav drawer should be open on page load
* regionmainsettingsmenu - HTML for the region main settings menu
* hasregionmainsettingsmenu - There is a region main settings menu on this page.

Example context (json):
{
"sitename": "Moodle",
"output": {
"doctype": "
<!DOCTYPE html>",
"page_title": "Test page",
"favicon": "favicon.ico",
"main_content": "<h1>Headings make html validators happier</h1>"
},
"bodyattributes":"",
"sidepreblocks": "<h2>Blocks html goes here</h2>",
"hasblocks":true,
"navdraweropen":true,
"regionmainsettingsmenu": "",
"hasregionmainsettingsmenu": false
}
}}
{{> theme_alpha/head }}

<body {{{ bodyattributes }}}>
    {{> core/local/toast/wrapper}}

    <div id="page-wrapper"
        class="d-print-block {{#output.courseheadermenu}}rui--course-with-nav{{/output.courseheadermenu}} {{^output.courseheadermenu}}rui--course-witout-nav{{/output.courseheadermenu}}">

        {{{ output.standard_top_of_body_html }}}

        <div id="page" data-region="mainpage" data-usertour="scroller"
            class="container-fluid drawers {{#courseindexopen}}show-drawer-right{{/courseindexopen}} {{#blockdraweropen}}show-hidden-drawer{{/blockdraweropen}} drag-container">
            {{> theme_alpha/navbar }}
            <div id="topofscroll" class="main-inner">
                <div id="page-content" class="page-content wrapper-page">
                    {{> theme_alpha/navbar-secondary }}
                    {{{ output.breadcrumbs }}}
                    {{{coursepageinformationbanners}}}
                    <div id="region-main-box" class="region-main-course-wrapper">
                        <div class="wrapper-header">

                            {{{ output.simple_header }}}
                            {{#headeractions}}
                            <div class="header-actions-container ml-1" data-region="header-actions-container">
                                <div class="header-action">{{{.}}}</div>
                            </div>
                            {{/headeractions}}
                            {{{pageheadingbutton}}}
                            <div class="sticky-header-settings-menu">{{{ output.region_main_settings_menu }}}</div>
                        </div>

                        <section id="region-main" class="region-main-content {{#hasblocks}}has-blocks{{/hasblocks}}"
                            aria-label="{{#str}}content{{/str}}">
                            <div class="rui-blocks-wrapper">
                                <div class="wrapper-course">
                                    {{{ output.course_navigate }}}
                                    {{#hasregionmainsettingsmenu}}
                                    <div class="region_main_settings_menu_proxy"></div>
                                    {{/hasregionmainsettingsmenu}}
                                    {{{ output.course_content_header }}}
                                    {{#headercontent}}
                                    {{> core/activity_header }}
                                    {{/headercontent}}
                                    {{#overflow}}
                                    <div class="container-fluid tertiary-navigation">
                                        <div class="navitem">
                                            {{> core/url_select}}
                                        </div>
                                    </div>
                                    {{/overflow}}
                                    <div style="height: 32px; display:flex; margin-bottom:10px; margin-top:24px;"
                                        id="navbar_PNSection">
                                        <div id="btn_showListCourse"
                                            style="margin-right:16px; border-radius:8px; border:1px solid gray; width:32px; background:#D6D6D6;">
                                            <button data-target="theme_alpha-drawers-courseindex" data-action="toggle"
                                                data-toggler="drawers" id="click_showListCourse"
                                                style="background:none;border:none; padding:2px 7px;">
                                                <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                                    version="1.1" viewBox="0 0 17 17" height="1em" width="1em"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <g></g>
                                                    <path id="btn_showListCourse_path" style="fill: #000000;"
                                                        d="M16 2v2h-11v-2h11zM5 9h11v-2h-11v2zM5 14h11v-2h-11v2zM2 2c-0.552 0-1 0.447-1 1s0.448 1 1 1 1-0.447 1-1-0.448-1-1-1zM2 7c-0.552 0-1 0.447-1 1s0.448 1 1 1 1-0.447 1-1-0.448-1-1-1zM2 12c-0.552 0-1 0.447-1 1s0.448 1 1 1 1-0.447 1-1-0.448-1-1-1z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                        <a href="{{btnUrlPre}}" id="pre_section"
                                            style="border: 1px solid gray;padding:2px 7px; border-radius:8px; width:32px;">
                                            <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                                viewBox="0 0 24 24" height="1em" width="1em"
                                                xmlns="http://www.w3.org/2000/svg" style="transform: rotate(180deg);">
                                                <polyline fill="none" stroke="#000" stroke-width="2"
                                                    points="7 2 17 12 7 22"></polyline>
                                            </svg>
                                        </a>
                                        <div id="title"
                                            style="margin-left:5px; text-align:center; padding:5px 5px; width:25%;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                            {{title}}
                                        </div>
                                        <a href="{{btnUrlNext}}" id="next_section"
                                            style="margin-left:5px; border: 1px solid gray;padding:2px 7px; border-radius:8px; width:32px;">
                                            <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                                viewBox="0 0 24 24" height="1em" width="1em"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <polyline fill="none" stroke="#000" stroke-width="2"
                                                    points="7 2 17 12 7 22"></polyline>
                                            </svg>
                                        </a>
                                    </div>

                                    {{{ output.main_content }}}
                                </div>

                                {{> theme_alpha/hasblocks-tmpl }}

                            </div>
                            {{{ output.activity_navigation }}}
                            {{{ output.course_content_footer }}}
                        </section>
                    </div>
                </div>
            </div>
            {{> theme_alpha/footer }}
        </div>

        {{^hiddensidebar}}
        {{> theme_alpha/nav-drawer }}
        {{/hiddensidebar}}
        {{> theme_alpha/courseindex-tmpl}}

        {{{ output.standard_after_main_region_html }}}
    </div>
</body>

</html>
{{#js}}
M.util.js_pending('theme_alpha/loader');
require(['theme_alpha/loader', 'theme_alpha/drawer'], function(Loader, Drawer) {
Drawer.init();
M.util.js_complete('theme_alpha/loader');
});
{{/js}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    var list = document.getElementById('btn_showListCourse');
    var num = 1;
    var menu_list = document.getElementById('theme_alpha-drawers-courseindex');
    var close_menu = document.querySelector('.icon-no-margin');
    list.addEventListener('click', function () {
        if (num == 1) {
            list.style.background = "#555555";
            document.getElementById('btn_showListCourse_path').style.fill = "#FFFFFF";
            num = 2;
        } else {
            list.style.background = "#D6D6D6";
            document.getElementById('btn_showListCourse_path').style.fill = "#000000";
            num = 1;
        }

    });
    close_menu.addEventListener('click', function () {
        num = 1;
        list.style.background = "#D6D6D6";
        document.getElementById('btn_showListCourse_path').style.fill = "#000000";
    });
    window.onload = function () {
        // JS button show menu
        if (menu_list.getAttribute('aria-hidden') == 'true') {
            num = 1;
           list.style.background = "#D6D6D6";
           document.getElementById('btn_showListCourse_path').style.fill = "#000000";
        } else {
            num = 2;
           list.style.background = "#555555";
           document.getElementById('btn_showListCourse_path').style.fill = "#FFFFFF";
        }
    }
</script>