div[data-flexitour="backdrop"] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

span[data-flexitour="container"] .modal-dialog {
    max-width: 400px;
}

span[data-flexitour="container"] .modal-dialog .modal-content .modal-header {
    border-bottom: 0;
}

span[data-flexitour="container"] .modal-dialog .modal-content .modal-footer {
    justify-content: flex-start;
    border-top: 0;
}

span[data-flexitour="container"].orphan {
    position: absolute;
}

span[data-flexitour="container"].orphan div[data-role="arrow"] {
    display: none;
}

body div[data-flexitour="step-background-fader"],
body div[data-flexitour="step-background"] {
    position: absolute;
    background: inherit;
    background-image: none;
}

.course .title {
    background: linear-gradient(90deg, #3f3dec 0%, #222192 95%);
}

.course .title h4 {
    color: #fff;
}

div[data-flexitour="step-background-fader"],
[data-flexitour="step-backdrop"]>td,
[data-flexitour="step-backdrop"] {
    position: relative;
}

span[data-flexitour="container"].orphan div[data-role="arrow"] {
    display: none;
}

.path-admin-local-usertours .stepcreator .input-append {
    font-size: inherit;
}

.tour-actions>ul {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tour-actions>ul>li {
    background-color: #f5f5f5;
}

.tour-actions>ul {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tour-actions>ul>li {
    background-color: #f5f5f5;
    border-radius: 6px;
    border: 1px solid #ccc;
    display: inline-block;
    height: 9em;
    margin: .5em;
    text-align: center;
    width: 13em;
}

.tour-actions>ul>li>a {
    height: 100%;
    display: block;
    padding: 1em;
}

.filepicker-filelist,
.filemanager-container {
    min-height: 150px !important;
}

/* CSS */
.pagination {
    float: right;
}

#participants #user-index-participants-3_r0_c3 .visibleifjs .rui-icon-container {
    display: none;
}

#user-index-participants-5_r0_c4 .rui-icon-container {
    display: none;
}

#id_main .moreless-actions .felement {
    display: none;
}

#url_select6396ea5e01da131 {
    display: none;
}

.containsadvancedelements legend {
    display: none;
}

#id_maincontainer #fitem_id_userlist,
#id_maincontainer #fitem_id_cohortlist,
#id_maincontainer #fitem_id_roletoassign {
    display: block;
    margin-bottom: 10px;
}

.col-md-9 .d-md-inline-block {
    width: 100%;
}

.col-md-9 .d-md-inline-block .form-control {
    width: 100%;
    margin-left: 90px;
    margin-top: 10px;
}

.form-autocomplete-downarrow {
    top: calc(50% - 10px) !important;
    right: -80px;
}

.filemanager-container {
    width: 85%;
}

.filemanager-container .fp-content {
    overflow: hidden !important;
}

.fp-restrictions {
    display: none;
}

/* Image course */
#id_general p {
    display: none;
}

#id_general .fdescription {
    display: none;
}

#fitem_id_overviewfiles_filemanager {
    float: left !important;
    display: block !important;
}

#fitem_id_overviewfiles_filemanager .col-md-3,
#fitem_id_overviewfiles_filemanager .col-md-9 {
    max-width: 100%;
}

#filemanager-639844a710b13 .fp-navbar {
    display: none
}

#fitem_id_overviewfiles_filemanager .col-md-3,
#fitem_id_overviewfiles_filemanager .col-md-9 {
    max-width: 100%;
}

#fitem_id_fullname {
    margin-top: 30px;
    display: block;
    margin-left: calc(100% - 68%);
}

#fitem_id_fullname .col-md-3,
#fitem_id_category .col-md-3,
#fitem_id_summary_editor .col-md-3,
#fgroup_id_coursevisibility .col-md-3,
#fitem_id_startdate .col-md-3,
#fitem_id_maxbytes .col-md-3 {
    text-align: left !important;
    max-width: 100%;
}

#fitem_id_fullname .col-md-9 {
    width: 80%;
}

#fitem_id_fullname .col-md-9 input {
    width: 100%;
}

#fitem_id_category {
    display: block;
    margin-left: calc(100% - 68%);
}

#fitem_id_category .col-md-9 {
    display: flex;
    max-width: 40%;
}

#fitem_id_summary_editor {
    display: block;
    margin-top: -70px;
    margin-left: calc(100% - 68%);
}

.editor_atto_content_wrap #id_summary_editoreditable {
    height: 200px !important;
}

#fgroup_id_coursevisibility {
    display: block;
    margin-left: calc(100% - 68%);
}

#fitem_id_startdate {
    display: block;
    margin-left: calc(100% - 68%);
}

#fitem_id_startdate .col-md-9,
#fitem_id_enddate .col-md-9 {
    max-width: 100%;
}

#fitem_id_enddate {
    display: block;
    margin-left: calc(100% - 68%);
}

#fitem_id_enddate .col-md-3 {
    display: none;
}

#fitem_id_maxbytes {
    display: block;
    margin-left: calc(100% - 68%);
}

#fitem_id_category .col-md-9 .form-control {
    margin-left: 0px !important;
}

#fitem_id_category .col-md-9 .form-autocomplete-downarrow {
    right: 0px !important;
    top: calc(100% - 78%) !important;
}

/* CSS participants */
#participants {
    width: 100% !important;
}

.tertiary-navigation .row {
    float: right;
}

#action_bar .navitem select {
    display: none;
}

.rui-title-container h2 {
    display: none;
}

#enrolusersbutton-2 {
    display: none;
}

.tertiary-navigation .navitem .enrol_manual_plugin form input {
    background: rgb(230, 8, 8);
}

.filter-group,
.firstinitial,
.lastinitial {
    display: none;
}

.userlist .no-overflow {
    width: 100%;
}

.userlist p {
    display: none;
}

#participants .commands {
    display: none;
}

#fitem_id_userlist,
#fitem_id_cohortlist,
#fitem_id_roletoassign {
    width: 100%;
}

#fitem_id_userlist .col-md-3,
#fitem_id_cohortlist .col-md-3,
#fitem_id_roletoassign .col-md-3 {
    width: 100% !important;
    text-align: left !important;
}

#fitem_id_roletoassign .col-md-9 {
    max-width: 80% !important;
    margin-left: 1% !important;
}

#fitem_id_userlist .col-md-9,
#fitem_id_cohortlist .col-md-9 {
    max-width: 98% !important;
    margin-left: 1% !important;
}

.btn-addNewsUsers {
    text-align: right;
}

.btn-addNewsUsers .singlebutton button,
.btn-addNewsRole .singlebutton button {
    background: #EC202D;
    color: white;
}

#id_descriptionhdr fieldset legend {
    display: none;
}

/* #region-main-box .wrapper-course .main-content form button{
    background: blue;
} */
/* Comment edit status */

#participants .rui-icon-container img {
    display: none;
}

@media only screen and (max-width: 526px) {
    #fitem_id_overviewfiles_filemanager {
        width: 35%;
    }

    #fitem_id_fullname,
    #fitem_id_category,
    #fitem_id_summary_editor,
    #fgroup_id_coursevisibility,
    #fitem_id_startdate,
    #fitem_id_enddate,
    #fitem_id_maxbytes {
        width: 65%;
    }

    #fitem_id_fullname .col-md-3,
    #fitem_id_category .col-md-3,
    #fitem_id_summary_editor .col-md-3,
    #fgroup_id_coursevisibility .col-md-3,
    #fitem_id_startdate .col-md-3,
    #fitem_id_maxbytes .col-md-3 {
        max-width: 100%;
    }

    #fitem_id_category .col-md-9 {
        display: flex;
        max-width: 60%;
    }

    #fitem_id_category .col-md-9 {
        max-width: 60%;
    }
}

@media only screen and (min-width: 527px) and (max-width:999px) {
    #fitem_id_summary_editor {
        margin-top: -10%;
    }

    #fitem_id_category .col-md-9 {
        max-width: 60%;
    }
}

@media only screen and (min-width: 1000px) {
    .tertiary-navigation .navitem .enrol_manual_plugin form input {
        background: rgb(230, 8, 8);
    }

    #fitem_id_overviewfiles_filemanager {
        width: 31%;
    }

    #fitem_id_overviewfiles_filemanager .col-md-3 {
        text-align: left !important;
    }

    #fitem_id_overviewfiles_filemanager .col-md-9 {
        max-width: 60%;
    }

    #fitem_id_overviewfiles_filemanager .col-md-9 .fp-hascontextmenu .fp-thumbnail {
        width: 125px !important;
        height: 110px !important;
    }

    #fitem_id_overviewfiles_filemanager .col-md-9 .fp-hascontextmenu .fp-thumbnail img {
        width: 90% !important;
        height: auto !important;
        max-width: none !important;
        max-height: none !important;
    }

    #fitem_id_overviewfiles_filemanager .col-md-9 .fp-hascontextmenu .fp-filename-field .text-truncate {
        width: 150px !important;
    }

}

/* /CSS */

/* @media only screen and (min-width: 527px){
     #fitem_id_summary_editor{
        margin-top: -7%;
    }
     #fitem_id_category .col-md-9{
         max-width: 60%;
     }
}  */



@media (max-width: 575.98px) {
    span[data-flexitour="container"] {
        margin-left: 10px;
    }

    span[data-flexitour="container"] .modal-content {
        overflow-y: initial;
    }

    span[data-flexitour="container"].orphan {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* side bar */
div#nav-drawer {
    background: #FCFCFC;
}

span.rui-sidebar-nav-icon {
    color: #555555 !important;
}


.rui-sidebar-nav-item-link.active,
.rui-sidebar-nav-item-link:hover {
    background: #FEF6F6 !important;
    color: #EC212D !important;
    border-left: 0.5rem solid !important;
}

a.text-dark:hover {
    color: #EC212D !important;
}

.theme-dark .rui-sidebar-nav-item-link.active,
.theme-dark .rui-sidebar-nav-item-link:hover {
    background: #FEF6F6 !important;
    color: #EC212D !important;

}

.rui-sidebar-nav-item-link.active .rui-sidebar-nav-icon,
.rui-sidebar-nav-item-link:hover .rui-sidebar-nav-icon {
    color: #EC212D !important;
    fill: #EC212D !important;
    opacity: 0.6;
}

.theme-dark .rui-sidebar-nav-item-link.active .rui-sidebar-nav-icon,
.theme-dark .rui-sidebar-nav-item-link:hover .rui-sidebar-nav-icon {
    color: #EC212D !important;
    fill: #EC212D !important;
}

.rui-sidebar-nav-item-link.active .rui-sidebar-nav-text,
.rui-sidebar-nav-item-link:hover .rui-sidebar-nav-text {
    color: #EC212D !important;

    opacity: 0.6;
}

.theme-dark .rui-sidebar-nav-item-link.active .rui-sidebar-nav-text,
.theme-dark .rui-sidebar-nav-item-link:hover .rui-sidebar-nav-text {
    color: #EC212D !important;
}

.theme-dark .rui-sidebar-nav-item-link.active {
    border-left: 1rem solid;
}


#nav-drawer .rui-drawer-footer {
    background: #FCFCFC !important;
}

.rui-sidebar-nav-text {
    color: black !important;
}

.rui-lang-btn,
.create-course {
    background: #EC212D !important;
    color: FCFCFC !important;
}

/* Button red */
.rui-lang-btn:hover,
.create-course:hover {
    background: #bf6166 !important;
}

.btn .btn-primary {
    background: #bf6166 !important;
}

.course .title,
.navbar-nav .title {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.course .before,
.course .active,
.navbar-nav .before,
.navbar-nav .active {
    background-image: linear-gradient(to right,
            #0095F6,
            #0095F6 50%,
            #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.course .before:before,
.course .active:before,
.navbar-nav .before:before,
.navbar-nav .active:before {
    content: '';
    background: #0095F6;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.course .before:hover,
.navbar-nav .before:hover {
    background-position: 0;
}

.course .before:hover::before,
.navbar-nav .before:hover::before {
    width: 100%;
}

.course .active,
.navbar-nav .active {
    background-position: 0;
}

.course .active::before,
.navbar-nav .active::before {
    width: 100%;
}

.table thead th,
.generaltable thead th,
.rolecap thead th,
.userenrolment thead th,
#categoryquestions thead th,
.grading-report thead th,
.gradereport-grader-table thead th,
#completion-progress thead th {
    color: #000000 !important;

}

.listcourse a.d-inline-flex.align-items-center,
.listcourse .badge.badge-sm,
.listcourse th.text-center {
    font-weight: 400 !important;
    font-size: 14px !important;
}

body {
    font-family: 'Inter' !important;
    font-style: normal !important;
}

/* #page-header h2.rui-page-title.rui-page-title--context,h5#instance-5-header,.rui-breadcrumbs  {
    display: none !important;
} */
.rui-navbar-nav--sep:before {
    left: 52px !important;
  }
/* Side bar users Management */
.a_hover{
    transform: translateY(2px);
}

/* Course create & edit */
.filemanager-container>.fm-content-wrapper {
    justify-content: center;
    display: flex;
}

.fm-nomkdir>.fp-navbar>.filemanager-toolbar.justify-content-between.w-100.d-flex {
    display: none !important;
}

.fm-content-wrapper {
    overflow-x: initial !important;
}

.wrapper-course hr {
    margin: 0 -40px;
}

.navbar-nav .title {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.navbar {
    padding: 0.25rem !important;
}
.active1{
    color: #0095F6 !important;
    border-bottom: 3px solid #0095F6;
    padding-bottom: 10px;
}
/* navbar-top*/
.breadcrumb-item{
    display: none !important;
}
.breadcrumb-item:last-child{
    display: block !important;
}
.breadcrumb-item+.breadcrumb-item::before{
    display: none !important;
}
/* Hover menu  */
#itemMeeting:hover span svg g,
#itemCourseManager:hover span svg g,
#itemCourseManager:hover span svg g,
#itemReportBuilder:hover span svg g
{
    fill: #EC212D !important;
}
.rui-sidebar-nav-item-link.active .rui-sidebar-nav-icon svg g{
    fill: #EC212D !important;
}