div[data-flexitour="backdrop"] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

span[data-flexitour="container"] .modal-dialog {
    max-width: 400px;
}

span[data-flexitour="container"] .modal-dialog .modal-content .modal-header {
    border-bottom: 0;
}

span[data-flexitour="container"] .modal-dialog .modal-content .modal-footer {
    justify-content: flex-start;
    border-top: 0;
}

span[data-flexitour="container"].orphan {
    position: absolute;
}

span[data-flexitour="container"].orphan div[data-role="arrow"] {
    display: none;
}

body div[data-flexitour="step-background-fader"],
body div[data-flexitour="step-background"] {
    position: absolute;
    background: inherit;
    background-image: none;
}

.course .title {
    background: linear-gradient(90deg, #3f3dec 0%, #222192 95%);
}

.course .title h4 {
    color: #fff;
}

div[data-flexitour="step-background-fader"],
[data-flexitour="step-backdrop"]>td,
[data-flexitour="step-backdrop"] {
    position: relative;
}

span[data-flexitour="container"].orphan div[data-role="arrow"] {
    display: none;
}

.path-admin-local-usertours .stepcreator .input-append {
    font-size: inherit;
}

.tour-actions>ul {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tour-actions>ul>li {
    background-color: #f5f5f5;
}

.tour-actions>ul {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tour-actions>ul>li {
    background-color: #f5f5f5;
    border-radius: 6px;
    border: 1px solid #ccc;
    display: inline-block;
    height: 9em;
    margin: .5em;
    text-align: center;
    width: 13em;
}

.tour-actions>ul>li>a {
    height: 100%;
    display: block;
    padding: 1em;
}

.filepicker-filelist,
.filemanager-container {
    min-height: 150px !important;
}

/* CSS */
.pagination {
    float: right;
}

#participants #user-index-participants-3_r0_c3 .visibleifjs .rui-icon-container {
    display: none;
}

#user-index-participants-5_r0_c4 .rui-icon-container {
    display: none;
}

#id_main .moreless-actions .felement {
    display: none;
}

#url_select6396ea5e01da131 {
    display: none;
}

.containsadvancedelements legend {
    display: none;
}

#id_maincontainer #fitem_id_userlist,
#id_maincontainer #fitem_id_cohortlist,
#id_maincontainer #fitem_id_roletoassign {
    display: block;
}

.col-md-9 .d-md-inline-block {
    width: 100%;
}

.col-md-9 .d-md-inline-block .form-control {
    width: 100%;
    margin-left: 90px;
    margin-top: 10px;
}

.form-autocomplete-downarrow {
    top: calc(50% - 10px) !important;
    right: -80px;
}

.filemanager-container {
    width: 85%;
}

.filemanager-container .fp-content {
    overflow: hidden !important;
}

.fp-restrictions {
    display: none;
}

/* Image course */
#id_general p {
    display: none;
}

#id_general .fdescription {
    display: none;
}

#fitem_id_overviewfiles_filemanager {
    float: left !important;
    display: block !important;
}

#fitem_id_overviewfiles_filemanager .col-md-3,
#fitem_id_overviewfiles_filemanager .col-md-9 {
    max-width: 100%;
}

#filemanager-639844a710b13 .fp-navbar {
    display: none
}

#fitem_id_overviewfiles_filemanager .col-md-3,
#fitem_id_overviewfiles_filemanager .col-md-9 {
    max-width: 100%;
}

#fitem_id_fullname {
    margin-top: 30px;
    display: block;
    margin-left: calc(100% - 69.3%);
}

#fitem_id_fullname .col-md-3,
#fitem_id_category .col-md-3,
#id_descriptionhdrcontainer>#fitem_id_summary_editor .col-md-3,
#fgroup_id_coursevisibility .col-md-3,
#fitem_id_startdate .col-md-3,
#fitem_id_maxbytes .col-md-3 {
    text-align: left !important;
    max-width: 100%;
}

#fitem_id_fullname .col-md-9 {
    width: 80%;
}

#fitem_id_fullname .col-md-9 input {
    width: 100%;
}

#fitem_id_category {
    display: block;
    margin-left: calc(100% - 69.3%);
}

#fitem_id_category .col-md-9 {
    display: flex;
    max-width: 40%;
}

#id_descriptionhdrcontainer>#fitem_id_summary_editor {
    display: block;
    margin-top: -40px;
    margin-left: calc(100% - 69.3%);
}

.editor_atto_content_wrap #id_summary_editoreditable {
    height: 125px !important;
}

#fgroup_id_coursevisibility {
    display: block;
    margin-left: calc(100% - 69.3%);
}

#fitem_id_startdate {
    display: block;
    margin-left: calc(100% - 69.3%);
}

#fitem_id_startdate .col-md-9,
#fitem_id_enddate .col-md-9 {
    max-width: 100%;
}

#fitem_id_enddate {
    display: block;
    margin-left: calc(100% - 69.3%);
}

#fitem_id_enddate .col-md-3 {
    display: none;
}

#fitem_id_maxbytes {
    display: block;
    margin-left: calc(100% - 69.3%);
}

#fitem_id_category .col-md-9 .form-control {
    margin-left: 0px !important;
}

#fitem_id_category .col-md-9 .form-autocomplete-downarrow {
    right: 23px !important;
    top: calc(100% - 78%) !important;
}

.editor_atto_toolbar,
.editor_atto_content_wrap,
.editor_atto+textarea {
    border-radius: 8px !important;
}

/* CSS participants */
/* #page-course-view-participants #fitem_id_userlist .form-autocomplete-selection,
#page-course-view-participants #fitem_id_cohortlist .form-autocomplete-selection {
    display: none !important;
} */

#page-course-view-participants #fitem_id_userlist {
    width: 98% !important;
    margin-top: -0.6%;
    margin-left: 3.9%;
    margin-right: 3.9%;
}

#page-course-view-participants #fitem_id_cohortlist,
#page-course-view-participants #fitem_id_roletoassign {
    width: 98% !important;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 6.1%;
}

#page-course-view-participants #fitem_id_userlist .col-md-3,
#page-course-view-participants #fitem_id_cohortlist .col-md-3 {
    height: 18px;
}

#page-course-view-participants #fitem_id_userlist .col-md-3 label,
#page-course-view-participants #fitem_id_cohortlist .col-md-3 label {
    height: 18px;
    top: 0;
    left: 0;
    position: absolute;
}

#page-course-view-participants #fitem_id_userlist .col-md-9,
#page-course-view-participants #fitem_id_cohortlist .col-md-9 {
    margin-top: 1.3%;
    max-width: 97.055% !important;
    margin-left: 1px !important;
}

#page-course-view-participants #fitem_id_userlist .col-md-9 input,
#page-course-view-participants #fitem_id_cohortlist .col-md-9 input {
    height: 48px !important;
}

#page-course-view-participants #fitem_id_roletoassign .col-md-9 select {
    height: 48px;
    width: 42.594% !important;
}

#page-course-view-participants .modal-dialog {
    max-width: 644px !important;
}

#participants {
    width: 100% !important;
}

/* .tertiary-navigation .row {
    float: right;
} */

#action_bar .navitem select {
    display: none;
}

.rui-title-container h2 {
    display: none;
}

#enrolusersbutton-2 {
    display: none;
}

.filter-group,
.firstinitial,
.lastinitial {
    display: none;
}

.userlist .no-overflow {
    width: 100%;
}

.userlist p {
    display: none;
}

#participants .commands {
    display: none;
}

#fitem_id_userlist,
#fitem_id_cohortlist,
#fitem_id_roletoassign {
    width: 100%;
}

#fitem_id_userlist .col-md-3,
#fitem_id_cohortlist .col-md-3,
#fitem_id_roletoassign .col-md-3 {
    width: 100% !important;
    text-align: left !important;
}

#fitem_id_roletoassign .col-md-9 {
    max-width: 80% !important;
    margin-left: 1% !important;
}

.btn-addNewsUsers {
    text-align: right;
}

#id_descriptionhdr fieldset legend {
    display: none;
}

/* #region-main-box .wrapper-course .main-content form button{
    background: blue;
} */
/* Comment edit status */

#participants .rui-icon-container img {
    display: none;
}

@media only screen and (max-width: 526px) {
    #fitem_id_category .col-md-9 .form-autocomplete-downarrow {
        right: 5px !important;
    }

    #page-course-edit #fitem_id_overviewfiles_filemanager {
        width: 30%;
    }

    #page-course-edit #fitem_id_overviewfiles_filemanager .col-md-9 {
        max-width: 100% !important;
    }

    #page-course-edit #fitem_id_fullname,
    #page-course-edit #fitem_id_category,
    #page-course-edit #fitem_id_summary_editor,
    #page-course-edit #fgroup_id_coursevisibility,
    #page-course-edit #fitem_id_startdate,
    #page-course-edit #fitem_id_enddate,
    #page-course-edit #fitem_id_maxbytes {
        margin-left: calc(100% - 60%);
    }

    #fitem_id_fullname,
    #fitem_id_category,
    #fitem_id_summary_editor,
    #fgroup_id_coursevisibility,
    #fitem_id_startdate,
    #fitem_id_enddate,
    #fitem_id_maxbytes {
        width: 65%;
    }

    #fitem_id_fullname .col-md-3,
    #fitem_id_category .col-md-3,
    #fitem_id_summary_editor .col-md-3,
    #fgroup_id_coursevisibility .col-md-3,
    #fitem_id_startdate .col-md-3,
    #fitem_id_maxbytes .col-md-3 {
        max-width: 100%;
    }
}

@media only screen and (min-width: 527px) and (max-width:999px) {
    #page-course-edit #fitem_id_overviewfiles_filemanager .col-md-9 {
        max-width: 100% !important;
    }

    #fitem_id_category .col-md-9 .form-autocomplete-downarrow {
        right: 10px !important;
    }

    #page-course-edit #fitem_id_fullname,
    #page-course-edit #fitem_id_category,
    #page-course-edit #fitem_id_summary_editor,
    #page-course-edit #fgroup_id_coursevisibility,
    #page-course-edit #fitem_id_startdate,
    #page-course-edit #fitem_id_enddate,
    #page-course-edit #fitem_id_maxbytes {
        margin-left: calc(100% - 65%);
    }

    #fitem_id_summary_editor {
        margin-top: -10%;
    }

    #fitem_id_category .col-md-9 {
        max-width: 60%;
    }
}

@media only screen and (min-width: 1000px) {
    .tertiary-navigation .navitem .enrol_manual_plugin form input {
        background: rgb(230, 8, 8);
    }

    #fitem_id_overviewfiles_filemanager {
        width: 31%;
    }

    #fitem_id_overviewfiles_filemanager .col-md-3 {
        text-align: left !important;
    }

    #fitem_id_overviewfiles_filemanager .col-md-9 {
        max-width: 60%;
    }

    #fitem_id_overviewfiles_filemanager .col-md-9 .fp-hascontextmenu .fp-thumbnail {
        width: 155px !important;
        height: 135px !important;
    }

    #fitem_id_overviewfiles_filemanager .col-md-9 .fp-hascontextmenu .fp-thumbnail img {
        width: 95% !important;
        height: auto !important;
        max-width: none !important;
        max-height: none !important;
    }

    #fitem_id_overviewfiles_filemanager .col-md-9 .fp-hascontextmenu .fp-filename-field .text-truncate {
        width: 150px !important;
    }

}

/* /CSS */

/* @media only screen and (min-width: 527px){
     #fitem_id_summary_editor{
        margin-top: -7%;
    }
     #fitem_id_category .col-md-9{
         max-width: 60%;
     }
}  */



@media (max-width: 575.98px) {
    span[data-flexitour="container"] {
        margin-left: 10px;
    }

    span[data-flexitour="container"] .modal-content {
        overflow-y: initial;
    }

    span[data-flexitour="container"].orphan {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* side bar */
div#nav-drawer {
    background: #FCFCFC;
}

span.rui-sidebar-nav-icon {
    color: #555555 !important;
}

.rui-sidebar-nav-item.activee,
.rui-sidebar-nav-item:hover,
ul.rui-flatnavigation.rui-flatnavigation-box.pt-0.pb-1.mt-0:hover {
    background: #FEF6F6 !important;
    color: #EC212D !important;
    border-left: 4px solid !important;
    transition: border-left 0.2s ease-in-out;
}

.rui-sidebar-nav-item-link.active,
.rui-sidebar-nav-item-link:hover {
    font-weight: 600 !important;
    background: #FEF6F6 !important;
}

#nav-drawer .nav-drawer-container {
    margin: 0 !important;
}

a.text-dark:hover {
    color: #EC212D !important;
}

.theme-dark .rui-sidebar-nav-item-link.active,
.theme-dark .rui-sidebar-nav-item-link:hover {
    background: #FEF6F6 !important;
    color: #EC212D !important;

}

.rui-sidebar-nav-item-link.active .rui-sidebar-nav-icon,
.rui-sidebar-nav-item-link:hover .rui-sidebar-nav-icon {
    color: #EC212D !important;
    fill: #EC212D !important;
    opacity: 0.6;
}

.theme-dark .rui-sidebar-nav-item-link.active .rui-sidebar-nav-icon,
.theme-dark .rui-sidebar-nav-item-link:hover .rui-sidebar-nav-icon {
    color: #EC212D !important;
    fill: #EC212D !important;
}

.rui-sidebar-nav-item-link.active .rui-sidebar-nav-text,
.rui-sidebar-nav-item-link:hover .rui-sidebar-nav-text {
    color: #EC212D !important;

    opacity: 0.6;
}

.theme-dark .rui-sidebar-nav-item-link.active .rui-sidebar-nav-text,
.theme-dark .rui-sidebar-nav-item-link:hover .rui-sidebar-nav-text {
    color: #EC212D !important;
}

.theme-dark .rui-sidebar-nav-item-link.active {
    border-left: 1rem solid;
}


#nav-drawer .rui-drawer-footer {
    background: #FCFCFC !important;
}

.rui-sidebar-nav-text {
    color: black !important;
}

.rui-lang-btn,
.create-course,
.btn-addNewsUsers .singlebutton button,
.btn-addNewsRole .singlebutton button,
.tertiary-navigation .navitem .enrol_manual_plugin form input {
    background: #EC212D !important;
    color: FCFCFC !important;
}

/* Button red */
.rui-lang-btn:hover,
.create-course:hover,
.btn-addNewsUsers .singlebutton button:hover,
.btn-addNewsRole .singlebutton button:hover,
.tertiary-navigation .navitem .enrol_manual_plugin form input:hover {
    background: #D8121E !important;
}

.rui-lang-btn:active,
.create-course:active,
.btn-addNewsUsers .singlebutton button:active,
.btn-addNewsRole .singlebutton button:active,
.tertiary-navigation .navitem .enrol_manual_plugin form input:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.btn .btn-primary {
    background: #bf6166 !important;
}

.course .title,
.navbar-nav .title {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.course .before,
.course .active,
.navbar-nav .before,
.navbar-nav .active {
    background-image: linear-gradient(to right,
            #0095F6,
            #0095F6 50%,
            #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.course .before:before,
.course .active:before,
.navbar-nav .before:before,
.navbar-nav .active:before {
    content: '';
    background: #0095F6;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.course .before:hover,
.navbar-nav .before:hover {

    background-position: 0;
}

.course .before:hover::before,
.navbar-nav .before:hover::before {
    width: 100%;
}

.course .active,
.navbar-nav .active {
    padding-bottom: 15px;
    background-position: 0;
}

.course .active::before,
.navbar-nav .active::before {
    width: 100%;
}

.table thead th,
.generaltable thead th,
.rolecap thead th,
.userenrolment thead th,
#categoryquestions thead th,
.grading-report thead th,
.gradereport-grader-table thead th,
#completion-progress thead th {
    color: #000000 !important;

}

.table th,
.table td,
.generaltable th,
.rolecap th,
.generaltable td,
.rolecap td,
.userenrolment th,
.userenrolment td,
#categoryquestions th,
#categoryquestions td,
.grading-report th,
.grading-report td,
.gradereport-grader-table th,
.gradereport-grader-table td,
#completion-progress th,
#completion-progress td {
    padding: 0.75rem 0 !important;
}

.listcourse a.d-inline-flex.align-items-center,
.listcourse .badge.badge-sm,
.listcourse th.text-center,
.text {
    font-weight: 400 !important;
    font-size: 14px !important;
}

.table,
.generaltable,
.rolecap,
.userenrolment,
#categoryquestions,
.grading-report,
.gradereport-grader-table,
#completion-progress {
    margin-bottom: 0 !important;
}

body {
    font-family: 'Inter' !important;
    font-style: normal !important;
}

/* #page-header h2.rui-page-title.rui-page-title--context,h5#instance-5-header,.rui-breadcrumbs  {
    display: none !important;
} */
.rui-navbar-nav--sep:before {
    left: 52px !important;
}

/* Side bar users Management */
/* .a_hover{
    transform: translateY(2px);
} */

/* Course create & edit */
.filemanager-container>.fm-content-wrapper {
    justify-content: center;
    display: flex;
}

.fm-nomkdir>.fp-navbar>.filemanager-toolbar.justify-content-between.w-100.d-flex {
    display: none !important;
}

.fm-content-wrapper {
    overflow-x: initial !important;
}

.wrapper-course hr {
    margin: 0 -40px;
}

.navbar-nav .title {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.navbar {
    padding: 0.25rem !important;
}

.active1 {
    color: #0095F6 !important;
    border-bottom: 3px solid #0095F6;
}

/* navbar-top*/
.breadcrumb-item {
    display: none !important;
}

.breadcrumb-item:last-child {
    display: block !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: none !important;
}

/* Hover menu  */
#itemMeeting:hover span svg g,
#itemCourseManager:hover span svg g,
#itemCourseManager:hover span svg g,
#itemReportBuilder:hover span svg g {
    fill: #EC212D !important;
}

.rui-sidebar-nav-item-link.active .rui-sidebar-nav-icon svg g {
    fill: #EC212D !important;
}

#btn_add_anActivity:hover button {
    background: #D8121E !important;
    color: black !important;
}

.button_edit button {
    background: red;
}

.button_edit:hover button {
    background: #D8121E !important;
    color: black !important;
}

/* Update CSS Create New Course */
.no-overflow>.generaltable,
.no-overflow>.rolecap {
    width: 100%;
}

#page-course-edit #fitem_id_category .col-md-9 .form-autocomplete-selection,
#page-course-edit #id_general legend,
#page-course-edit #id_descriptionhdr legend {
    display: none !important;
}

#page-course-edit #fitem_id_overviewfiles_filemanager,
#page-course-edit #fitem_id_fullname {
    margin-top: -2%;
}

#page-course-edit #fgroup_id_coursevisibility {
    margin-top: 2.7%;
}

#page-course-edit #fitem_id_startdate {
    margin-top: 2.9%;
}

#page-course-edit #fitem_id_maxbytes {
    margin-top: 2.5%;
}

#page-course-edit #fitem_id_summary_editor {
    margin-top: -2.2%;
}

#page-course-edit #fitem_id_enddate {
    margin-top: 2.2%;
}

#page-course-edit #fitem_id_category {
    margin-top: 2.7%;
}

#page-course-edit #fitem_id_overviewfiles_filemanager .col-md-3,
#page-course-edit #fitem_id_fullname .col-md-3,
#page-course-edit #fitem_id_category .col-md-3,
#page-course-edit #fitem_id_summary_editor .col-md-3,
#page-course-edit #fgroup_id_coursevisibility .col-md-3,
#page-course-edit #fitem_id_startdate .col-md-3,
#page-course-edit #fitem_id_maxbytes .col-md-3 {
    position: relative;
    height: 18px;
}

#page-course-edit #fitem_id_overviewfiles_filemanager .col-md-3 label,
#page-course-edit #fitem_id_fullname .col-md-3 label,
#page-course-edit #fitem_id_category .col-md-3 label,
#page-course-edit #fitem_id_summary_editor .col-md-3 label,
#page-course-edit #fgroup_id_coursevisibility .col-md-3 label,
#page-course-edit #fitem_id_startdate .col-md-3 label,
#page-course-edit #fitem_id_maxbytes .col-md-3 label {
    position: absolute;
    top: 0;
    left: 15px;
    height: 18px;
}

#page-course-edit #fitem_id_fullname .col-md-9,
#page-course-edit #fitem_id_fullname .col-md-9 input,
#page-course-edit #fitem_id_category .col-md-9 input,
#page-course-edit #fitem_id_maxbytes .col-md-9 select {
    height: 48px !important;
}

#page-course-edit #fitem_id_overviewfiles_filemanager .col-md-9 {
    margin-top: 2.9%
}

#page-course-edit #fitem_id_category .col-md-9,
#page-course-edit #fitem_id_maxbytes .col-md-9 {
    margin-top: 1.25%;
}

#page-course-edit #fgroup_id_coursevisibility .col-md-9 {
    margin-top: 3.3%;
}

#page-course-edit #fitem_id_fullname .col-md-9,
#page-course-edit #fitem_id_summary_editor .col-md-9 {
    margin-top: 1.3%;
}

#page-course-edit #fitem_id_startdate .col-md-9 {
    margin-top: 1.8%;
}

#page-course-edit #fitem_id_fullname .col-md-9,
#page-course-edit #fitem_id_summary_editor .col-md-9 {
    max-width: 90.028% !important;
    width: 100%;
}

#page-course-edit #fitem_id_category .col-md-9 {
    max-width: 41.3% !important;
}

#page-course-edit #fitem_id_overviewfiles_filemanager .col-md-9 {
    max-width: 61.38% !important;
}

#page-course-edit #id_overviewfiles_filemanager_fieldset,
#page-course-edit #id_overviewfiles_filemanager_fieldset .filemanager {
    height: 172px !important;
}

#page-course-edit #fitem_id_overviewfiles_filemanager .col-md-9 .filemanager-container {
    margin-top: 0;
    width: 100% !important;
    height: 172px;
}

#page-course-edit #fitem_id_maxbytes .col-md-9 {
    max-width: 43.1%;
}

#page-course-edit #fitem_id_maxbytes .col-md-9 select {
    width: 100%;
}

.d-flex.flex-wrap.align-items-center.rui-form-element-group {
    padding-left: 0 !important;
}

.editor_atto_content_wrap #id_summary_editoreditable {
    height: 125px !important;
}

.editor_atto_content.form-control {
    min-height: 125px !important;
}

#page-course-edit #fgroup_id_buttonar #id_saveandreturn {
    display: none;
}
#page-course-view-flexsections #form_submit .input-group .small,
#page-course-view-topics #form_submit .input-group .small{
    color: blue !important;
}
#page-course-view-flexsections #edit_mode #form_submit ,
#page-course-view-topics #edit_mode #form_submit{
    border: 1px solid blue;
}
#btn_add_anActivity,
#page-course-view-flexsections #edit_mode #form_submit,
#page-course-view-topics #edit_mode #form_submit{
    margin-right: 24px;
}
.wrapper-course label.my-0.small {
    color: black !important;
}
#btn_addSection{
    background: white;
    border: 1px solid blue;
}





/* /Update Create New Course */
#users tbody tr,
#users thead tr th,
#roles tbody tr,
#roles thead tr th {
    box-shadow: inset 0px -1px 0px #f5f7fa;
    border: none !important;
}

#users .leftalign,
#roles .leftalign {
    font-size: 14px !important;
}

#users .header,
#roles .header {
    font-size: 16px !important;
}

#users th.header.c0.centeralign {
    width: 45%;
}

#roles th.header.c0.leftalign {
    width: 30%;
}

/* Nội dung khóa học commit by Việt Nguyễn*/
.media-body.align-self-center>.rui-pluginname,
.flex-fill.description-inner>.no-overflow,
.rui-activity-dates.activity-dates.course-description-item,
.activity-information {
    display: none;
}

.activityiconcontainer.courseicon.align-self-start img {
    border-radius: 25px;
}

#nav-drawer .nav-drawer-container {
    padding-right: 0 !important;
}

.course-section-header.d-flex.align-items-center.dropready {
    background: #ECECEC;
    padding: 5px;
    border-radius: 8px;
}

ul.rui-section.section.img-text.d-block {
    border: none !important;
    margin: 0 !important;
}

/* Ẩn icon pen chỉnh sửa trong nội dung khóa học */
.jsenabled .visibleifjs,
.page-header-content {
    display: none !important;
}

.menubar>.action-menu-trigger {
    /* width: 8.5rem; */
    width: auto !important;
}

.course-content ul.flexsections li.section .content>.rui-section {
    border: none !important;
}

.course_category_tree.clearfix.category-browse>.wrapper-fw {
    display: none;
}

th>a.rui-category-link {
    font-weight: 400 !important;
    font-size: 14px !important;
}

.wrapper-fw.info>.listcourse {
    box-shadow: inset 0 -1px 0 #f5f7fa;
}
span.mx-3.badge.badge-info {
    text-align: center;
}
.rui-course-card-deck.rui-course-card-deck--4.mt-2 {
    margin-top: 1.5rem !important;
}
/* CSS mới */
#page-course-view-participants .rui-title-container {
    display: none !important;
}
#page-course-view-participants .buttons {
    display: none;
}
form nav:first-of-type{
    display: none;
}
#page-course-view-participants .main-content .row {
    float: right;
}

#page-mod-forum-view .table-overflow {
    width: 100%;
}

#page-course-view-participants #navbar_PNSection {
    display: none !important;
}
/* /CSS mới */