{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!

    @template theme_alpha/editswitch

    This template renders the top navbar.

    Example context (json):
    {
        "url": "http://localhost/",
        "sesskey": "sesskey",
        "edit": 1,
        "adminedit": true,
        "checked": "",
        "string": "Edit on"
    }
}}
<form action="{{{legacyseturl}}}" method="post" class="d-flex align-items-center editmode-switch-form" id="form_submit">
    <div class="input-group {{#checked}}checked{{/checked}}">
            <label class="custom-control ios-switch d-inline-flex align-items-center m-0">
                <input type="checkbox"{{!
                }} name="setmode"{{!
                }}{{#checked}}{{!
                    }} aria-checked="true" checked{{!
                }}{{/checked}}{{!
                }}{{^checked}}{{!
                    }} aria-checked="false" {{!
                }}{{/checked}}{{!
                }} class="ios-switch-control-input"{{!
                }} id="{{uniqid}}-editingswitch"{{!
                }} data-context="{{{pagecontextid}}}"{{!
                }} data-pageurl="{{{pageurl}}}"{{!
            }}>
                <div id="icon_Preview" style="display: none;">
                    <svg stroke="currentColor" fill="blue" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"
                    style="font-size: 25px; margin-right:5px;"><path d="M12 9a3.02 3.02 0 0 0-3 3c0 1.642 1.358 3 3 3 1.641 0 3-1.358 3-3 0-1.641-1.359-3-3-3z"></path><path d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 12c-5.351 0-7.424-3.846-7.926-5C4.578 10.842 6.652 7 12 7c5.351 0 7.424 3.846 7.926 5-.504 1.158-2.578 5-7.926 5z">
                    </path></svg>
                </div>
                <div id="icon_Hidden" style="display: none;">
                    <svg stroke="currentColor" fill="blue" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"
                    style="font-size: 25px; margin-right:5px;"><path d="M12 19c.946 0 1.81-.103 2.598-.281l-1.757-1.757c-.273.021-.55.038-.841.038-5.351 0-7.424-3.846-7.926-5a8.642 8.642 0 0 1 1.508-2.297L4.184 8.305c-1.538 1.667-2.121 3.346-2.132 3.379a.994.994 0 0 0 0 .633C2.073 12.383 4.367 19 12 19zm0-14c-1.837 0-3.346.396-4.604.981L3.707 2.293 2.293 3.707l18 18 1.414-1.414-3.319-3.319c2.614-1.951 3.547-4.615 3.561-4.657a.994.994 0 0 0 0-.633C21.927 11.617 19.633 5 12 5zm4.972 10.558-2.28-2.28c.19-.39.308-.819.308-1.278 0-1.641-1.359-3-3-3-.459 0-.888.118-1.277.309L8.915 7.501A9.26 9.26 0 0 1 12 7c5.351 0 7.424 3.846 7.926 5-.302.692-1.166 2.342-2.954 3.558z">

                    </path></svg>
                </div>
                <span class="ios-switch-control-indicator" id="span_editMode"></span>
                <label class="my-0 small text-dark" for="{{uniqid}}-editingswitch">
                    {{#str}} editmode {{/str}}
                </label>
            </label>
    </div>
    <input type="hidden" name="sesskey" value="{{{sesskey}}}">
    <input type="hidden" name="pageurl" value="{{{pageurl}}}">
    <input type="hidden" name="context" value="{{{pagecontextid}}}">
    <noscript>
        <input type="submit" value="{{#str}}setmode, core{{/str}}">
    </noscript>
</form>
{{#js}}
require(['core/edit_switch'], function(editSwitch) {
    editSwitch.init('{{uniqid}}-editingswitch');
});
{{/js}}
